html, body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  background-color: rgb(248, 238, 219);;
}




/* ****** HOME PAGE ******** */




.home{
  height: 100vh;
  padding-top: 10%;
  background-image: url('./images/home-background.jpg');
  background-size: cover;
}

.home-box{
  width: 70vw;
  margin: 0 auto;
  padding-top: 2%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  z-index: 1;
  position: absolute;
  color: rgb(236, 213, 213);
}

.fake-box{
  width: 70vw;
  opacity: 1;
  margin: 0 auto;
  padding-top: 2%;
  background-color: rgb(91, 143, 117);
  opacity: 0.5;
  position: absolute;
  height: 497px;
}


.space{
  height: 4vh;
}

.title{
  display: block;
  opacity: 2;
  height: 20%;
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 whitesmoke;
}

.slogan{
  height: 15%;
  text-align: center;
  box-shadow: 0 4px 8px 0 whitesmoke;
}

.home-options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65%;
}

.card1, .card2, .card3 {
  border-radius: 5px;
  width: 190px;
  height: 200px;
  text-align: center;
  float: left;
  margin: 5%;
  padding-top: 7.5%;
  font-size: 20px;
}

.card1{
  background-image: url('./images/pomegranate.jpg');
  background-size: cover;
  color: white;

}

.card1t{
  text-decoration: none;
  color: whitesmoke;
  bottom: 30px;
}

.card2{
  color: red;
  background-image: url('./images/pineapple.jpg');
  background-size: cover;
}

.card2t{
  text-decoration: none;
  color: blue;
}

.card3{
  color: red;
  background-image: url('./images/floppy-leaves.jpg');
  background-size: cover;
}

.card3t{
  text-decoration: none;
  color: whitesmoke;
}




/* *******NAVBAR******** */




.home-button{
  width: 100%;
  height: 35px;
}

/* rgba(220, 250, 206, 0.774);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836); */

.nav-menu{
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 85vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
  position: relative;
}

.nav-logo{
  font-family: 'Courier New', Courier, monospace;
  font-size: 37px;
  color: rgba(220, 250, 206, 0.774);
  display: inline-block;
  height: 100%;
  width: 20vw;
  padding-left: 10vw;
}

.nav-menu-right{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-menu-list{
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.nav-list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
  cursor: pointer;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: rgb(245, 216, 161);
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;

}

.nav-link:hover {
  color: #ffaa3b;
}

.nav-link-active {
  color: #ffaa3b;
  border-top: 4px solid #ffaa3b;
  font-weight: 700;
}



/* ********SEARCH PAGE********* */




.search-page{
  height: 100vh;
  background-color: rgb(248, 238, 219);
}

.search-items{
  display: flex;
  justify-content: space-around;
  height: 16%;
  /* background-color: white; */
  padding-top: 5vh;
  text-align: center;
}

.svg-inline--fa:hover{
  background-color: rgba(220, 250, 206, 0.774);
}

.search-box{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.836);
  color: rgb(245, 216, 161);
}

.search-form{
  width: 250px;
}

.search-results{
  height: 460px;
  background-color: rgba(0, 0, 0, 0.836);
}

.items-list{
  height: 430px;  
  display: flex;
  justify-content: space-evenly;
}

.plant{
  width: 32%;
  text-align: center;
  font-size: 14px;
  color: rgba(220, 250, 206, 0.774);
  cursor: pointer;
}

.plant-image{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.plant-image-tag{
  margin-top: 40px;
}

.arrow{
  display: inline;
}

.select-search{
  height: 4%;
  background-color: rgba(220, 250, 206, 0.774);
  text-align: center;
  font-size: 20px;
}

/* ************* */

/* width: 752px; */
    /* height: 80px; */
.footer{

  position: absolute;
  /* background-color: white; */
  height: 80px;
  left: 85vw;
  width: 14vw;
  font-size: 10px;
  text-align: right;
}

.contact-us{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20%;
  background-color: white;
}




/* ******MYOASIS******** */

button{
  cursor: pointer;
}

.user-plants{
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wishlist{
  color: rgba(220, 250, 206, 0.774);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.wish-item{
  color: rgb(245, 216, 161);
  height: 70px;
}

.wish-item:hover{
  color: orange;
}

.modal{
  text-align: center;
}

.list-item{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.grow-item{
  height: 50px;
}

.propagation{
  font-size: 13px;
}


.auth-forms{
  padding-top: 300px;
  display: flex;
  justify-content: space-between;
  color: rgb(250, 231, 195);
}

.login{
  width: 100px;
  padding: 150px;
}

.sign-up{
  width: 100px;
  padding: 150px
}

.error{
  font-size: 20px;
  top: 0;
  position: absolute;
  height: 26px;
  background-color: red;
  color: whitesmoke;
  text-align: center;
}

.auth-background{
  height: 100vh;
  width: 100vw;
  background-image: url('../src/images/waterfall.jpeg');
  background-size: cover;
}



/* *****GROW****** */

.grow-graphic{
  height: 500px;
  background-image: url('../src/images/small-leaf.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grow{
  /* position: relative; */
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.prop{
  position: absolute;
  right: 10px;
  height: 50px;
  width: 100px;

}

.grow-container{
  position: relative;
  background-color: white;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline{
  position: relative;
  height: 2px;
  background-color: black
}

.top-timeline{
  height: 57px;
  top: 0px;
}

.bottom-timeline{
  height: 57px;
  bottom: 0px;
  text-align: right;
}

.checkpointS{
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: black 
}

.checkpointF{
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: black;
  text-align: right;
}

.user-line{
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: red
}

.page-control{
  user-select: none;
  cursor: pointer;
}

.map-key{
  /* opacity: 0.5; */
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.536);
}

.key{
  display: flex;
  color: white;
  margin-top: 5px;
}

.germinate{
  background-color: orange;
  height: 10px;
  width: 10px;
}

.sprout{
  background-color: pink;
  height: 10px;
  width: 10px;
}

.harvest{
  background-color: green;
  height: 10px;
  width: 10px;
}

.mature{
  background-color: darkgreen;
  height: 10px;
  width: 10px;
}

.pot{
  background-color: brown;
  height: 10px;
  width: 10px;
}

.protect{
  background-color: grey;
  height: 10px;
  width: 10px;
}

.flower{
  background-color: yellow;
  height: 10px;
  width: 10px;
}

.fruit{
  background-color: red;
  height: 10px;
  width: 10px;
}

.fertilize{
  background-color: purple;
  height: 10px;
  width: 10px;
}

.bloom{
  background-color: blue;
  height: 10px;
  width: 10px;
}

.outside{
  background-color: brown;
  height: 10px;
  width: 10px;
}