html, body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  background-color: rgb(248, 238, 219);;
}




/* ****** HOME PAGE ******** */




.home{
  height: 100vh;
  padding-top: 10%;
  background-image: url('./images/home-background.jpg');
  background-size: cover;
}

.home-box{
  width: 70vw;
  margin: 0 auto;
  padding-top: 2%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(91, 143, 117, 0.5);
  font-size: 20px;
  z-index: 1;
  position: relative;
  color: rgb(236, 213, 213);
}


.space{
  height: 4vh;
}

.title{
  display: block;
  opacity: 2;
  height: 20%;
  text-align: center;
  padding-bottom: 10px;
}

.slogan{
  height: 15%;
  text-align: center;
  /* box-shadow: 0px 0px 4px 0px whitesmoke; */
}

.home-options{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 65%;
  padding-bottom: 30px;
}

.card1, .card2, .card3 {
  border-radius: 5px;
  width: 190px;
  height: 250px;
  text-align: center;
  float: left;
  margin: 5%;
  padding-top: 7.5%;
  font-size: 20px;
  font-weight: bold;
}

.card1:hover, .card2:hover, .card3:hover{
  box-shadow: 0 0 4px 0 whitesmoke;
  font-size: 21px;
}

.card1{
  background-image: url('./images/pomegranate.jpg');
  background-size: cover;
  color: white;

}

.card1t{
  text-decoration: none;
  color: whitesmoke;
  bottom: 30px;
}

.card2{
  color: red;
  background-image: url('./images/pineapple.jpg');
  background-size: cover;
}

.card2t{
  text-decoration: none;
  color: blue;

}

.card3{
  color: red;
  background-image: url('./images/butternut-squash.jpg');
  background-size: cover;
}

.card3t{
  text-decoration: none;
  color: whitesmoke;
}




/* *******NAVBAR******** */




.home-button{
  width: 100%;
  height: 35px;
}

/* rgba(220, 250, 206, 0.774);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836); */

.nav-menu{
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 85vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
  position: relative;
}

.nav-logo{
  font-family: 'Courier New', Courier, monospace;
  font-size: 37px;
  color: rgba(220, 250, 206, 0.774);
  display: inline-block;
  height: 100%;
  width: 20vw;
  padding-left: 10vw;
}

.nav-menu-right{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-menu-list{
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.nav-list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
  cursor: pointer;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: rgb(245, 216, 161);
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;

}

.nav-link:hover {
  color: #ffaa3b;
}

.nav-link-active {
  color: #ffaa3b;
  border-top: 4px solid #ffaa3b;
  font-weight: 700;
}



/* ********SEARCH PAGE********* */




.search-page{
  height: 100vh;
  background-color: rgb(248, 238, 219);
}

.search-items{
  display: flex;
  justify-content: space-around;
  height: 16%;
  /* background-color: white; */
  padding-top: 5vh;
  text-align: center;
}

.search-icon{
  cursor: pointer;
}

.svg-inline--fa:hover{
  background-color: rgba(220, 250, 206, 0.774);
}

.search-box{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.836);
  color: rgb(245, 216, 161);
  font-family: 'Courier New', Courier, monospace;
}

.search-form{
  width: 250px;
}

.search-results{
  height: 460px;
  background-color: rgba(0, 0, 0, 0.836);
}

.items-list{
  height: 430px;  
  display: flex;
  justify-content: space-evenly;
}

.plant{
  width: 32%;
  text-align: center;
  font-size: 14px;
  color: rgba(220, 250, 206, 0.774);
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;

}

.plant-image{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.plant-image-tag{
  margin-top: 40px;
}

.arrow{
  display: inline;
}

.select-search{
  height: 4%;
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.search-by{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(220, 250, 206, 0.774);
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.search-all{
  cursor: pointer;
}


.footer{

  position: absolute;
  height: 80px;
  left: 85vw;
  width: 14vw;
  font-size: 10px;
  text-align: right;
}

.contact-us{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-text{
  padding: 100px 200px;

  display: flex;
  justify-content: space-evenly
}

.contact{
  width: 10vw;
  height: auto;
}

.contact-blank{
  height: 1000px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.836);
}

.github{
  background-image: url('./images/github-logo.png');
  background-size: cover;
  height: 50px;
  width: auto;
}

.linkedIn{
  background-image: url('./images/linkedin-letters.png');
  background-size: cover;
  height: 50px;
  width: auto;
}




/* ******MYOASIS******** */

button{
  cursor: pointer;
}

.user-plants{
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wishlist{
  color: rgba(220, 250, 206, 0.774);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: 'Courier New', Courier, monospace;

}

.wish-item{
  color: rgb(245, 216, 161);
  height: 83px;
  font-family: 'Courier New', Courier, monospace;

}

.wish-item:hover{
  color: orange;
}

.prop-modal{
  text-align: center;
  background-color: rgb(245, 216, 161);
  color: rgba(0, 0, 0, 0.836); 
  font-family: 'Courier New', Courier, monospace;
}

.delete-grow{
  text-align: center;
  opacity: 0.7;
  background-color: rgba(220, 250, 206, 0.774);
  color: rgba(0, 0, 0, 0.836);
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  width: 80px;
}

.regrowth-div{
  text-align: center;
  opacity: 0.7;
  background-color: rgba(220, 250, 206, 0.774);
  color: rgba(0, 0, 0, 0.836); 
  width: 150px;
}

.regrowth-header{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

.regrowth-para{
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}

.total-length{
  color: rgb(245, 216, 161);
}

.modal{
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 216, 161);
  color: rgba(0, 0, 0, 0.836); 
  font-family: 'Courier New', Courier, monospace;
}

.modal-header, .plant-header{
  font-size: 24px;
}

.plant-image-tag{
  font-size: 18px;
}

.modal-text{
  width: 700px;
}

.modal-pic{
  width: 240px;
}

.plant-img{
  width: 240px;
  height: auto;
}

.list-item{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.grow-item{
  height: 50px;
}

.propagation{
  font-size: 13px;
}


.auth-forms{
  margin-top: 100px;
  margin-left: 50px;
  width: 19vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 233, 233, 0.274);
  color: rgb(250, 231, 195);
}

.login{
  width: 133px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.sign-up{
  width: 133px;
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.form{
  background-color: rgb(250, 231, 195);
  color: rgba(0, 0, 0, 0.836);
}

.form-button{
  background-color: rgba(0, 0, 0, 0.836);
  color: rgb(250, 231, 195);
  cursor: pointer;
}

.error{
  font-size: 20px;
  top: 0;
  position: absolute;
  height: 26px;
  background-color: red;
  color: whitesmoke;
  text-align: center;
}

.auth-background{
  height: 100vh;
  width: 100vw;
  background-image: url('../src/images/waterfall.jpeg');
  background-size: cover;
}

.help{
  margin: 200px 400px;
  padding: 30px;
  background-color: black;
  color: rgb(250, 231, 195);
  text-align: center;
}

.help-li{
  margin: 15px;
  text-align: left;
}

.help-header{
  font-size: 27px;
  margin-bottom: 40px;
}



/* *****GROW****** */

.grow-graphic{
  height: 500px;
  background-image: url('../src/images/small-leaf.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.grow{
  /* position: relative; */
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.prop{
  position: absolute;
  right: 10px;
  height: 50px;
  width: 100px;

}

.grow-container{
  position: relative;
  background-color: white;
  width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline{
  position: relative;
  height: 2px;
  background-color: black
}

.top-timeline{
  height: 57px;
  top: 0px;
}

.bottom-timeline{
  height: 57px;
  bottom: 0px;
  text-align: right;
}

.checkpoint{
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: black 
}


.user-line{
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: red
}

.page-control{
  user-select: none;
  cursor: pointer;
}

.map-key{
  /* opacity: 0.5; */
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.536);
}

.key{
  display: flex;
  color: white;
  margin-top: 5px;
}

.germinate{
  background-color: orange;
  height: 10px;
  width: 10px;
}

.sprout{
  background-color: pink;
  height: 10px;
  width: 10px;
}

.harvest{
  background-color: green;
  height: 10px;
  width: 10px;
}

.mature{
  background-color: cyan;
  height: 10px;
  width: 10px;
}

.pot{
  background-color: brown;
  height: 10px;
  width: 10px;
}

.protect{
  background-color: grey;
  height: 10px;
  width: 10px;
}

.flower{
  background-color: yellow;
  height: 10px;
  width: 10px;
}

.fruit{
  background-color: red;
  height: 10px;
  width: 10px;
}

.fertilize{
  background-color: purple;
  height: 10px;
  width: 10px;
}

.bloom{
  background-color: blue;
  height: 10px;
  width: 10px;
}

.outside{
  background-color: brown;
  height: 10px;
  width: 10px;
}