html, body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
}




/* ****** HOME PAGE ******** */




.home{
  height: 100vh;
  padding-top: 10%;
  background-image: url('./images/home-background.jpg');
  background-size: cover;
}

.home-box{
  width: 800px;
  margin: 0 auto;
  padding-top: 2%;
  background-color: rgb(91, 143, 117);
}

.space{
  height: 4vh;
}

.title{
  display: block;
  height: 20%;
  text-align: center;
  padding-bottom: 10px;
}

.slogan{
  height: 15%;
  text-align: center;
}

.home-options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65%;
}

.card1, .card2, .card3 {
  border-radius: 5px;
  width: 190px;
  height: 200px;
  text-align: center;
  float: left;
  margin: 5%;
  padding-top: 7.5%;
  font-size: 20px;
}

.card1{
  background-image: url('./images/pomegranate.jpg');
  background-size: cover;
  color: white;
}

.card1t{
  text-decoration: none;
  color: whitesmoke;
}

.card2{
  color: red;
  background-image: url('./images/pineapple.jpg');
  background-size: cover;
}

.card2t{
  text-decoration: none;
  color: blue;
}

.card3{
  color: red;
  background-image: url('./images/floppy-leaves.jpg');
  background-size: cover;
}

.card3t{
  text-decoration: none;
  color: whitesmoke;
}




/* *******NAVBAR******** */




.home-button{
  width: 100%;
  height: 35px;
}

.nav-menu{
  background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 752px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.nav-logo{
    background-image: url('../src/images/Tropic-Logo.png');
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 162px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.nav-menu-right{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-menu-list{
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.nav-list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #3a3e47;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.nav-link:hover {
  color: #ffaa3b;
}

.nav-link-active {
  color: #ffaa3b;
  border-top: 4px solid #ffaa3b;
  font-weight: 700;
}



/* ********SEARCH PAGE********* */




.search-page{
  height: 100vh;
}

.search-items{
  display: flex;
  justify-content: space-around;
  height: 16%;
  background-color: orange;
  padding-top: 5vh;
  text-align: center;
}

.svg-inline--fa:hover{
  background-color: teal
}

.search-box{
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 20px;
  margin-right: 20px;
}

.search-form{
  width: 250px;
}

.search-results{
  height: 430px;
  /* background-color: blue; */
}

.items-list{
  height: 430px;  
  display: flex;
  justify-content: space-evenly;
}

.plant{
  width: 32%;
  text-align: center;
  font-size: 14px;
}

.plant-image{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.plant-image-tag{
  margin-top: 40px;
}

.arrow{
  display: inline;
}

.select-search{
  height: 4%;
  background-color: orange;
  text-align: center;
  font-size: 20px;
}

/* ************* */

.footer{
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  background-color: grey;
  text-align: right;
}

.contact-us{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20%;
}




/* ******MYOASIS******** */




.grow-graphic{
  height: 400px;
  background-image: url('../src/images/small-leaf.jpeg');
  background-size: cover;
}

.user-plants{
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currently-growing{
  width: 33%;
  background-color: coral;
}

.wishlist{
  width: 65%;
  background-color: coral;
  bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.wish-item{
  height: 90px;
}

.list-item{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.grow-item{
  height: 50px;
}

.propagation{
  font-size: 13px;
}


.auth-forms{
  text-align: center;
  background-color: grey;
  height: 40vh;
  margin-top: 20vh;
  margin-left: 30vw;
  margin-bottom: 20vh;
  margin-right: 30vw;
  padding-top: 5vh;
  border-radius: 7%;
}
